@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.contCenter {
    display: flex;
    justify-content: center;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendarContainerPhone {
    display: none;
    justify-content: center;
    width: 100%;
}

.day-of-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-right: 1px solid #47718b85;
    min-height: calc(100vh + 400px);
}

.dayInfo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.activeDay {
    color: #72b3db;
}


.dayInfo p {
    margin: 0;
}

/* Task css */

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #00000074;
    font-family: mon;
    gap: 10px;
    overflow: hidden;

    .colorTask {
        width: 100%;
        height: 30px;
        background-image: url('./../../img/taskBg/bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
    }

    .info {
        font-family: 'Montserrat', sans-serif;

        .titleTask {
            font-weight: 600;
        }

        .subTask {
            font-size: 15px;
            color: #00000090;
        }
    }

    .tools {
        display: flex;
        width: 100%;
        height: 30px;
        cursor: pointer;

        .delete {
            background-color: rgb(169, 37, 37);
            width: 100%;
        }

        .move {
            background-color: #2a445485;
            width: 100%;
        }

        .edit {
            background-color: gray;
            width: 100%;
        }
    }
}

.clearBtn {
    cursor: pointer;
    border: none;
    color: #2a4454;
}

.cornerDiv {
    width: 200px;
    height: 100px;
    color: #2a4454;
    position: fixed;
    right: 0;
    bottom: 0;
}

.calendarAll {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.clearBtn {
    background-color: white;
}

.switchWeeks {
    button {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        background-color: white;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.checkbox-wrapper-7 .tgl {
    display: none;
}

.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after,
.checkbox-wrapper-7 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:before {
    display: none;
}

.checkbox-wrapper-7 .tgl:checked+.tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn {
    background: #fbfbfb;
    padding: 2px;
    transition: all 0.4s ease;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:after {
    background: #fbfbfb;
    border-radius: 2em;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active:after {
    padding-right: 0.8em;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn {
    background: #86d993;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -0.8em;
}