@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.contCenter {
    display: flex;
    justify-content: center;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendarContainerPhone {
    display: none;
    justify-content: center;
    width: 100%;
}

.day-of-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-right: 1px solid #47718b85;
    min-height: calc(100vh + 400px);
}

.dayInfo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.activeDay {
    color: #72b3db;
}


.dayInfo p {
    margin: 0;
}

/* Task css */

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #00000074;
    font-family: mon;
    gap: 10px;
    overflow: hidden;

    .colorTask {
        width: 100%;
        height: 30px;
        background-image: url('./../../img/taskBg/bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
    }

    .info {
        font-family: 'Montserrat', sans-serif;

        .titleTask {
            font-weight: 600;
        }

        .subTask {
            font-size: 15px;
            color: #00000090;
        }
    }

    .tools {
        display: flex;
        width: 100%;
        height: 30px;
        cursor: pointer;
        overflow: hidden;

        .delete {
            background-color: rgb(169, 37, 37);
            width: 100%;
        }

        .move {
            background-color: #2a445485;
            width: 100%;
        }

        .edit {
            background-color: gray;
            width: 100%;
        }
    }
}

.clearBtn {
    cursor: pointer;
    border: none;
    color: #2a4454;
}

.cornerDiv {
    width: 200px;
    height: 100px;
    color: #2a4454;
    position: fixed;
    right: 0;
    bottom: 0;
}

.calendarAll {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.clearBtn {
    background-color: white;
}

.switchWeeks {
    button {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        background-color: white;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.switchWeeksPhone {
    button {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        background-color: white;
    }

    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.checkbox-wrapper * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper label {
    --size: 50px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #00b6c0 0%, #006d9b 46%, #0066ff 100%);
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
        0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    margin-top: -10px;
}

.checkbox-wrapper label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper label:hover:before {
    width: calc(var(--size) * .55);
    height: calc(var(--size) * .55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
}

.checkbox-wrapper label:active {
    transform: scale(0.9);
}

.checkbox-wrapper .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .5);
    height: calc(var(--size) * .3);
    margin: 0 auto;
    margin-top: 15px;
    margin-left: calc(var(--size) * .28);
    transform: rotateZ(-40deg);
}

.checkbox-wrapper .tick_mark:before,
.checkbox-wrapper .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * .1);
    height: calc(var(--size) * .3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -.68));
}

.checkbox-wrapper .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * .78));
}

.checkbox-wrapper input[type="checkbox"]:checked+label {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #009e64 0%, #48ff88 46%, #14d383 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.checkbox-wrapper input[type="checkbox"]:checked+label:before {
    width: 0;
    height: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked+label .tick_mark:before,
.checkbox-wrapper input[type="checkbox"]:checked+label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
}