@import url('https://fonts.cdnfonts.com/css/general-sans');

$brand-success: #5cb85c;
$loader-size: 1.3em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: (
    $loader-size/6 + $loader-size/12
);
$check-thickness: 3px;
$check-color: $brand-success;

.contCenter {
    display: flex;
    justify-content: center;
    background: #0a101e;
    background-image:
        radial-gradient(at 47% 33%, hsl(216, 30%, 10%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}

a {
    display: flex;
    justify-content: center;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendarContainerPhone {
    display: none;
    justify-content: center;
    width: 100%;
}

.day-of-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-right: 1px solid #90909017;
    min-height: calc(100vh + 400px);
    color: rgb(175, 182, 189);
}

.dayInfo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.activeDay {
    p {
        color: #E7E7EA;
    }
}

.dayInfo p {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 600;
}

.dayText {
    font-weight: 400;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    min-height: 120px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(50, 51, 51, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family: "General Sans", sans-serif;
    overflow: hidden;


    .info {
        margin-top: 10px;
        font-family: "General Sans", sans-serif;

        .titleTask {
            color: #E5E5E8;
            font-weight: 600;
            height: 30px;
        }

        .subTask {
            font-size: 15px;
            color: #e5e5e8a7;
        }
    }

    .tools {
        display: flex;
        width: 100%;
        height: 30px;
        cursor: pointer;
        overflow: hidden;

        .delete {
            width: 100%;
            color: rgb(241, 99, 99);
        }

        .edit {
            width: 100%;
            color: rgb(175, 99, 241);
        }
    }
}

.clearBtn {
    cursor: pointer;
    border: none;
    color: #2a4454;
}

.cornerDiv {
    width: 200px;
    height: 100px;
    color: #2a4454;
    position: fixed;
    right: 0;
    bottom: 0;
}

.calendarAll {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.clearBtn {
    background: none;
    color: #E5E5E8;
}

.switchWeeks {
    button {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        background: none;
        margin-bottom: 8px;

        svg {
            background: none !important;
            color: #E7E7EA;
        }
    }

    color: #E7E7EA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Montserrat';
}

.switchWeeksPhone {
    button {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        background: none;
        margin-bottom: 8px;

        svg {
            background: none !important;
            color: #E7E7EA;
        }
    }

    color: #E7E7EA;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Montserrat';
}

$green: #4248c1;
$white: #fff;

// Misc
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.toolCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.checkmark {
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: none;
    stroke-width: 2;
    stroke: $white;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px $green;
}

.checkmark.active .checkmark__circle {
    animation: stroke .6s $curve forwards;
}

.checkmark.active .checkmark__check {
    animation: stroke .3s $curve .8s forwards;
}

.checkmark.active {
    display: block;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $green;
    fill: none;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px $green;
    }
}

$color: #e55454;

.cross__svg {
    border-radius: 50%;
    display: block;
    height: 20px;
    margin: 4rem auto;
    stroke-width: 3;
    width: 20px;
}

.cross__circle {
    animation: 0.6s ease 0s normal forwards 1 running stroke;
    fill: none;
    margin: 0 auto;
    stroke: $color;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
}

.cross__path {
    stroke: $color;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;

    &--right {
        animation: 0.3s ease 0.8s normal forwards 1 running stroke;
    }

    &--left {
        animation: 1s ease 0.8s normal forwards 1 running stroke;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

.editZone {
    margin-top: 180px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.editCircle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #333333;
    border-radius: 100%;
    color: white;
    cursor: pointer;
}

.textStats {
    font-weight: 600;
    font-size: 20px;
}

.statsContainer {
    width: 95%;
    border-radius: 10px;
    height: 120px;
    display: flex;
    overflow: hidden;
    color: white;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Montserrat';

    p {
        height: 5px;
    }

    .bold {
        font-weight: 700;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: white;
    }

    .statsFood {
        width: 25%;
        height: 100%;
        background: linear-gradient(216.8deg, #EE9B00 -20.14%, #FFC14F 108.92%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .statsWater {
        width: 25%;
        height: 100%;
        background: linear-gradient(216.8deg, #007CEE -20.14%, #4FD5FF 108.92%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .statsWeight {
        width: 25%;
        height: 100%;
        background: linear-gradient(216.8deg, #00EE34 -20.14%, #4FFFC0 108.92%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 13px;
    }

    .statsActivity {
        width: 25%;
        height: 100%;
        background: linear-gradient(216.8deg, #EE0000 -20.14%, #FF6E4F 108.92%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .circle {
        width: 45px;
        height: 45px;
    }
}