.logoDiv {
    width: 10vh;

    .mainLogo {
        width: 120px;
        height: 36px;
    }
}

.headerToCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    width: 60%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 0;
    background: rgba(87, 87, 87, 0.423);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 10;
}