.containerToCenter {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    min-height: 400px;
    padding: 50px;
    border: 1px solid #61616126;
}

form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field {
    margin-bottom: 20px !important;
}

.titleForm {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #1E1E1E inset !important;
    -webkit-text-fill-color: #fff;
    caret-color: #fff;
    border-radius: inherit;
}